h2 {
  text-align: center;
}

/* Estilos a una imagen con etiqueta img */
img.docu {
  /* Propiedad clave width para que se adapte la imagen */
  width: 100%;
  background-color: aqua;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center center;
}