/* Variables  colores se pueden usar en todos los archivos*/
:root {
  --main-bg-color: #000000;
  --main-text-color: rgba(255, 255, 255, 0.5);
  --main-text-color: rgb(255, 255, 255);
  --main-brand-color: #e50915;
  --main-brand-color-light: #e44c54;
  /* Para la fuentes usamos rem */
  font-size: 16px;
  /* Agregamos google fonts */
  font-family: "Roboto", sans-serif;

  /* Codigo que nos da la pagian de fuentes google font helper */
  /* roboto-100 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/roboto-v30-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

* {
  box-sizing: border-box;
  /* Valores de nuestro reset */
  padding: 0;
  margin: 0;
}

.main-bg {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  /* opacity: 1; */
}
