.footer {
  text-align: center;
  font-style: italic;
  background-color: var(--main-bg-color);
  /* width: 500px; */
  /* padding */
  /* padding-top: 10px;
  padding: 10px 10px 10px 10px;
  padding: 50px 10px 10px 10px;
  padding: 20px 0; */
  padding: 40px;

  /* Border */
  /* border: 1px dashed crimson;
  border: 1px solid red;
  border-radius: 5px; */

  /* Margin */
  /* margin: 80px;
  margin-bottom: 80px; */

  /* Aplicamos radial gradient, movil */
  background: radial-gradient(
    circle,
    rgba(229, 9, 20, 1) 0%,
    #0e1b4f 70%,
    #000413 100%
  );
}

.footer p {
  /* 1rem = 16px */
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  /* Alto de linea */
  /* line-height: 1.4; */
}

/* Especificidad */
.footer .footer__company {
  font-style: normal;
}

/* Medie queries */
@media (width >= 768px) {
  .footer {
    background: radial-gradient(
      51.39% 511.66% at 47.68% -217.91%,
      #ff9900 0%,
      #e50914 17.27%,
      #0e1b4f 79.44%,
      #000413 100%
    );
  }
}
