/* Estilos de bottones sensillo!!!!*/
.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-brand-color);
}

.hidden-xs {
  display: none;
  /* visibility: hidden; */
}

/* Aplicamos las media queries */
/* Opcion para imprimir. Con ctrl + p lo vemos*/
@media print {
  * {
    color: red;
  }
}

/* Mobile first min-width */
/* @media screen and (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
} */

/* Sintaxis mas moderna */
@media screen and (width >= 768px) {
  .hidden-xs {
    display: block;
  }
}
