.header {
  background-color: var(--main-bg-color);
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 15px;
}

/* Contenedor imagen */
.header__image {
  width: 120px;
}

/* Controlamos el tamaño de la imagen */
.header__image img {
  width: 100%;
}

/* Listas del menu OJO OJO a la especificidad */
.header .header__nav .header__nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Quitamos la linea al enlace */
.header__nav .header__nav__list .header__nav__list__item a {
  text-decoration: none;
}

/* Usamos sin el screem y vemos que funciona */
@media (width >= 768px) {
  .header__image {
    width: 200px;
  }
}
