/* Variables  colores se pueden usar en todos los archivos*/
:root {
  --main-bg-color: #000000;
  --main-text-color: rgb(255, 255, 255);
  --main-brand-color: #e50914;
  --main-brand-color-light: #e44c54;
  font-size: 16px;
  /* font-size: 62.5%; */
  /* tipo de letra por default */
  font-family: sans-serif;
}

/* Reset estilos del navegador para todos los elementos */
* {
  box-sizing: border-box;
  /* Valores de nuestro reset */
  padding: 0;
  margin: 0;
}

/* label,
input {
  display: block;
} */

/* aplicamos los estilos con las varaibles */
.main-bg {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  /* opacity: 0.75; */
}