/* ====== Fuentes ====== */
/* Roboto Thin 100 */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto-v30-latin-100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* Roboto Light 300 */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto-v30-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Roboto Bold 700 */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto-v30-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Variables  colores se pueden usar en todos los archivos*/
:root {
  --main-bg-color: #000000;
  --main-text-color: rgb(255, 255, 255);
  --main-brand-color: #e50914;
  --main-brand-color-light: #e44c54;
  font-size: 16px;
  /* font-size: 62.5%; */
  /* tipo de letra por default */
  font-family: 'Roboto', sans-serif;
}

/* Reset estilos del navegador para todos los elementos */
* {
  box-sizing: border-box;
  /* Valores de nuestro reset */
  padding: 0;
  margin: 0;
}

/* label,
input {
  display: block;
} */

/* aplicamos los estilos con las varaibles */
.main-bg {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  /* opacity: 0.75; */
}