/* Estilos de botones */
.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-brand-color);
}

/* Ocultar elementos */
.hidden-xs {
  /* El compoente se borra del layout */
  display: none;
  /* El componente se hace invisible pero no se quita del layout */
  /* visibility: hidden; */
}

/* Media queries */
/* Sintasis antigua para pantallas por encima 768px */
/* @media screen and (min-width:768px) {} */

/* Sintasis moderna para pantallas >= 768px */
@media screen and (width >=768px) {
  .hidden-xs {
    display: block;
  }
}