/* Seccion info */
.info {
  width: 90%;
  /* Limitamos el ancho del contenido */
  max-width: 768px;
  /* Centramos el contenedor info*/
  margin: 0 auto;
  margin-top: 25px;
}

.info__text h2 {
  margin-bottom: 15px;
}

/* Contenedor del video e imagen */
.info .info__video {
  position: relative;
  display: flex;
  justify-content: center;
}

.info .info__video img {
  position: relative;
  z-index: 2;
  width: 274px;
}

.info .info__video video {
  position: absolute;
  z-index: 1;
  top: 30px;
  width: 175px;
}

/* Media queries */
@media screen and (width >=768px) {
  .info .info__video video {
    top: 70px;
    width: 384px;
  }

  .info .info__video img {
    width: 628px;
  }
}

@media screen and (width >=1024px) {
  .info {
    max-width: 1024px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}