.shows {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
}

.shows h2 {
  margin: 15px 0;
}

.shows__list {
  list-style: none;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0;
}

.shows .shows__list img {
  width: 100%;
}

.shows .shows__list figure {
  margin: 0;
}

/* Media queries */
@media screen and (width>=768px) {
  .shows__list {
    grid-template-columns: repeat(4, 1fr);
  }
}