.footer {
  text-align: center;
  font-style: italic;
  /* padding */
  /* padding-top: 10px;
  padding: 10px 10px 10px 10px;
  padding: 50px 10px 10px 10px;
  padding: 20px 0; */
  padding: 40px;

  /* Border */
  /* border: 1px dashed crimson;
  border: 1px solid red;
  border-radius: 5px; */

  /* Margin */
  /* margin: 80px;
  margin-bottom: 80px; */
}

.footer p {
  margin: 0;
}

/* Especificidad */
.footer .footer__company {
  font-style: normal;
}
