.banner {
  height: 75vh;
  text-align: center;
  /* Para poder usar la imagen  asi el absolute se posiciona con este*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner__content {
  /* Aqui importante para que sea el texto bien recesita tambien la postion */
  position: relative;
  z-index: 1;
}

.banner .banner__image {
  /* Este combinado con relative */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/app/catalog.jpg);
  /* background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-size: contain; */
  z-index: 0;
  opacity: 0.3;
}
