/* Variables  colores se pueden usar en todos los archivos*/
:root {
  --main-bg-color: #000000;
  --main-text-color: rgba(255, 255, 255, 0.5);
  --main-text-color: rgb(255, 255, 255);
  --main-brand-color: #e50915;
  --main-brand-color-light: #e44c54;
  /* Para la fuentes usamos rem */
  font-size: 16px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  /* Valores de nuestro reset */
  /* padding: 0;
  margin: 0; */
}

.main-bg {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  /* opacity: 1; */
}
